<nav class="navbar fixed-top navbar-toggleable-sm navbar-light bg-faded">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand mb-0" href="#"><img src="/images/chat.svg" width="30" height="30" alt="Embed Chat Logo"></a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link <%= pageId === 'home' ? 'active' : '' %>" href="/">
                        <i class="fa fa-home"></i> Home
                    </a>
                </li>
                <% if (typeof user === 'undefined') { %>
                <li class="nav-item">
                    <a class="nav-link <%= pageId === 'register' ? 'active' : '' %>" href="/register">
                        <i class="fa fa-user-plus"></i> Register
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%= pageId === 'login' ? 'active' : '' %>" href="/login">
                        <i class="fa fa-unlock-alt"></i> Login
                    </a>
                </li>
                <% } else { %>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle <%= pageId === 'sites' ? 'active' : '' %>"
                       id="sitesDropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                       href="/sites"
                    ><i class="fa fa-globe"></i> My Sites</a>

                    <div class="dropdown-menu" aria-labelledby="sitesDropdownMenu">
                        <a class="dropdown-item" href="/sites"><i class="fa fa-list-alt"></i> My sites</a>
                        <a class="dropdown-item" href="#!/add"><i class="fa fa-plus"></i> Add new</a>
                    </div>
                </li>
                <% } %>
            </ul>
            <% if (typeof user !== 'undefined') { %>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link dropdown-toggle" href="#current-user"
                       id="dropdownMenuCurrentUser" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Hi, <%= user.displayName %>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuCurrentUser">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/logout"><i class="fa fa-sign-out"></i> Sign Out</a>
                    </div>
                </li>
            </ul>
            <% } %>
        </div>
    </div>
</nav>